.wtf-logo {
    background-image: url("../img/logo.svg");
    background-size: contain;
    height: 2em;
}

.center {
    text-align: center;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler .navbar-toggler-icon-wtf {
    background-image: url("../img/hamburger\ menu.svg");
}

.mail-icon {
    background-image: url("../img/mail\ icon.svg");
    background-size: contain;
    width: 1.5em;
    height: 1.5em;
}

.navbar-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}