@import '../../global/global.less';


wtf-reviews {
    .reviews-container {
        padding: 1em;
        * {
            color: white;
        }
        background-color: @box-color-medium;

        .review-p {
            font-style: italic;
        }
    }
}